@using Assignment_2_ASP_MVC_Restaurant.Models
@model FoodItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu: @Model.FoodItemName</h2>

<div>
    <h4>Desserts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FoodItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-rounded" width="304" height="236">
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Browse")
</p>
