@model Assignment_2_ASP_MVC_Restaurant.Models.Beverages

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Beverages</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BeveragesName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeveragesName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeveragesShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeveragesShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeveragesLongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeveragesLongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThumbUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThumbUrl)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LargeUrl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LargeUrl)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BeveragesID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
