@model IEnumerable<Assignment_2_ASP_MVC_Restaurant.Models.Beverages>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-success" title="Add a new Beverage Item"> <i class="fa fa-plus"></i>Add new Beverage</a>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BeveragesName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeveragesShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BeveragesName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeveragesShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id=item.BeveragesID })" class="btn btn-primary" title="Details"> <i class="fa fa-info"></i> More info</a>

                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Edit", new { id=item.BeveragesID })" class="btn btn-default" title="Edit"> <i class="fa fa-pencil"></i> Edit</a>
                    <a href="@Url.Action("Delete", new { id=item.BeveragesID })" class="btn btn-danger" title="Delete"> <i class="fa fa-trash"></i> Delete</a>
                }
            </td>
        </tr>
    }

</table>
