@model Assignment_2_ASP_MVC_Restaurant.Models.Desserts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Desserts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DessertsName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DessertsName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DessertsLongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DessertsLongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-rounded" width="304" height="236">
        </dd>
 
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DessertsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
