@model IEnumerable<Assignment_2_ASP_MVC_Restaurant.Models.Desserts>

@{
    ViewBag.Title = "Desserts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Desserts</h2>

<p>
    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        <a href="@Url.Action("Create")" class="btn btn-success" title="Add a new Dessert Item"> <i class="fa fa-plus"></i> Add new Dessert</a>
    }
</p>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessertsName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DessertsShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.ImageUrl)" class="img-thumbnail" width="100" height="120" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DessertsName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DessertsShortDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a href="@Url.Action("Details", new { id=item.DessertsID })" class="btn btn-primary" title="Details"> <i class="fa fa-info"></i> More info</a>

                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
                {
                    <a href="@Url.Action("Edit", new { id=item.DessertsID })" class="btn btn-default" title="Edit"> <i class="fa fa-pencil"></i> Edit</a>
                    <a href="@Url.Action("Delete", new { id=item.DessertsID })" class="btn btn-danger" title="Delete"> <i class="fa fa-trash"></i> Delete</a>
                }
            </td>

        </tr>
    }

</table>
