@model IEnumerable<Assignment_2_ASP_MVC_Restaurant.Models.Appetizer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppetizerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppetizerShortDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AppetizerLongDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThumbUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LargeUrl)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppetizerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppetizerShortDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AppetizerLongDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThumbUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LargeUrl)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AppetizerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AppetizerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AppetizerID })
        </td>
    </tr>
}

</table>
