@model Assignment_2_ASP_MVC_Restaurant.Models.FoodItem

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FoodItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Food.FoodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Food.FoodType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-rounded" width="304" height="236">
        </dd>

    </dl>
</div>
<p>
    @if (ViewContext.HttpContext.User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Back to List", "Index")
    }
    else
    {
        @Html.ActionLink("Back to List", "Index", new { type = Model.FoodType })
    }
</p>
