@model Assignment_2_ASP_MVC_Restaurant.Models.Main_Course

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Main_Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Main_CourseName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_CourseName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_CourseShortDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_CourseShortDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Main_CourseLongDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Main_CourseLongDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImageUrl)" class="img-rounded" width="304" height="236">
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Main_CourseID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
